@use './mixins' as *;



//メインコンテンツ

.concept {
    // max-width: 1200px;
    //    margin: 0 auto;
    //padding: 0 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--black);
    //padding: 214px 10rem;
    margin-top: 160px;
    margin-bottom: 160px;
}

.concepts {
    //    padding: 0 10rem;
    z-index: 0;
    position: relative;
}

.concept_title_img {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 80vw;
    margin: 0 auto;

}

@media screen and (max-width:768px) {
    .concept {
        margin: 0 auto;
        width: 90vw;
    }

    .concept_title_img {
        flex-direction: column;
        gap: 16px;

    }

    .concepts {
        //    padding: 0 10rem;
        z-index: 0;
        position: relative;
        margin-bottom: 24px;
    }
}


.concept-title {
    line-height: 200%;
    font-size: 40px;
    letter-spacing: 0.1em;
}

.concept-text-eigo {
    font-size: 9px;
    line-height: 120%;
    font-weight: light;
    //    letter-spacing: 0.1em;
    padding-top: 48px;
    padding-bottom: 54px;
    color: var(--black);
}

.concept-text {
    font-size: 14px;
    font-weight: bold;
    line-height: 220%;
    letter-spacing: 0.2em;
}

.sideimg {
    display: flex;
    margin-left: auto
}

.sideimg img {
    position: relative;
    width: 40vw;
    height: 682px;
    object-fit: cover;
    top: 0;

    z-index: -100;
}


@media screen and (max-width:768px) {

    .concept-title {
        line-height: 160%;
        font-size: 24px;
        letter-spacing: 0.1em;
        padding-left: 0;
        padding-top: 40px;
    }

    .concept-text-eigo {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 0;
    }

    .concept-text {
        font-size: 10px;
        font-weight: bold;
        line-height: 200%;
        letter-spacing: 0.2em;
        padding-left: 0;
    }

    .sideimg img {
        position: relative;
        width: 90vw;
        height: 300px;
        object-fit: cover;
        right: 0;
        top: -20px;

        z-index: -100;
    }

}


.concept_imgs {
    //    background-color: #ff914d;

    height: 1100px;
    //    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100vw;
    margin: 0 auto;

    z-index: 0;
}

.concept_imgs_vessi {
    position: relative;
    display: block;
    width: 90vw;
}

.concept_img img {
    object-fit: cover;
}

.concept_img-1 {
    position: absolute;
    object-fit: cover;
    left: 8rem;
    bottom: 40px;
}

.concept_img-2 {
    object-fit: cover;
    position: absolute;
    left: 540px;
    top: 160px;
}

.concept_img-3 {
    object-fit: cover;
    position: absolute;
    left: 800px;
    bottom: 160px;
}

.concept_img-4 {
    object-fit: cover;
    position: absolute;
    left: 1080px;
    top: 280px;
}


.concept_splash {
    object-fit: cover;
    position: absolute;
    right: 80px;
    bottom: -200px;
    transform: rotate(60deg);
    opacity: 0.8;
}

@media screen and (max-width:768px) {
    .concept_imgs {
        height: 600px;  
        flex-direction: row;
    }

    .concept_img-1 {
        left: 0;
        top: 80px;

        width: 160px;
        height: 220px;
    }

    .concept_img-2 {
        right: 32px;
        top: 16px;

        width: 140px;
        height: 100px;
    }

    .concept_img-3 {
        right: 0px;
        top: 240px;

        width: 90px;
        height: 120px;
    }

    .concept_img-4 {
        right: 52px;
        top: 340px;

        width: 140px;
        height: 100px;

        z-index: -2;
    }
    
    .concept_splash {
        width: 180px;
        height: 110px;
        object-fit: cover;
        bottom: -10px;
    }
    
}


//besshi

.about {
    display: flex;
    background: linear-gradient(250deg, #1C818F, #4C8A69 90%),
        linear-gradient(140deg, #005864, #1C818F 80%),
        linear-gradient(370deg, #4C8A69, #005864 90%);
    width: 64vw;
    height: 560px;
    justify-content: center;
    margin: 0 auto;
}

.about-vessi {
    position: relative;
    //    display: flex;
    margin: auto 0;
    color: white;
    align-items: center;
    text-align: center;
}

.about-vessi-title_eigo {
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.2em;
    padding-bottom: 8px;
}

.about-sub {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.2em;
    padding-bottom: 56px;
}

.vessi-text {
    letter-spacing: 0.1em;
}

.vessi-text-1 {
    font-size: 12px;
    line-height: 200%;
}

.vessi-text-big {
    font-size: 18px;
    font-weight: bold;
    line-height: 180%;
    padding: 16px 0;
}

.vessi-text-yellow {
    color: var(--yellow);
}

@media screen and (min-width:728px) {
    .about-vessi_sp-only {
        display: none;
    }
}

@media screen and (max-width:1020px) {
    .about {
        width: 100vw;
    }
}

@media screen and (max-width:728px) {
    .about {
        height: 520px;
    }

    .about-vessi {
        display: none;
    }

    .about-vessi_sp-only {
        position: relative;
        //    display: flex;
        margin: auto 0;
        color: white;
        align-items: center;
        text-align: center;
    }

    .about-vessi-title_eigo_sp-only {
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.2em;
        padding-bottom: 4px;
    }

    .about-sub_sp-only {
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.2em;
        padding-bottom: 32px;
    }

    .vessi-text_sp-only {
        letter-spacing: 0.1em;
    }

    .vessi-text-1_sp-only {
        font-size: 10px;
        line-height: 160%;
    }

    .vessi-text-big_sp-only {
        font-size: 14px;
        font-weight: bold;
        line-height: 160%;
        padding: 12px 0;
    }

    .vessi-text-yellow_sp-only {
        color: var(--yellow);
    }

}