@use './mixins' as *;

.review {
    max-width: 60vw;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 240px;
}

.service {
    max-width: 60vw;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 200px;
}

.faq {
    max-width: 60vw;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 200px;
    padding-bottom: 0;
}

.SUB-title {
    color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center
}

.SUB-copy {
    color: var(--black);
    font-size: 20px;
    padding-right: 16px;
    letter-spacing: 0.3em;
}

.SUB-sub {
    color: var(--black);
    font-size: 12px;
    letter-spacing: 0.2em;
}

.SUB-link {
    margin: 0 0 0 auto;
    display: flex;
    width: 140px;
    height: 32px;
    background: var(--basedark);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.SUB-link a {
    color: var(--link);
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 0.1em;
}

.SUB-link:hover {
    transform: scale(1.1);
    background: var(--yellow);
}


@media screen and (max-width:768px) {

    .review {
        max-width: 90vw;
        margin: 0 auto;
        padding: 0 30px;
        margin-top: 160px;
    }
    
    .service {
        max-width: 90vw;
        margin: 0 auto;
        padding: 0 30px;
        margin-top: 160px;
    }
    
    .faq {
        max-width: 90vw;
        margin: 0 auto;
        padding: 0 30px;
        margin-top: 160px;
    }
    
    .SUB-title {
        flex-direction: column;
        align-items: start;
    }
    
    .SUB-link {
        margin: 0 0 0 auto;
        width: 120px;
        height: 32px;
    }
    
    .SUB-link a {
        font-size: 12px;
    }
}



//review

.reviews {
    padding-top: 48px;
    align-items: center;
}

.reviews ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.reviews li {
    flex: 1;
    border: 2px solid var(--link);
    padding: 48px;
}

.reviews h3 {
    color: var(--main);
    font-size: 18px;
    letter-spacing: 0.2em;
    padding-bottom: 24px;
}

.review-date {
    font-size: 10px;
    letter-spacing: 0.1em;
    line-height: 180%;
    font-weight: bold;
    padding-bottom: 20px;
}

.review-date a {
    color: var(--main);
    text-decoration: 2px underline var(--main);
}

.review-date a:hover {
    text-decoration: none;
    color: var(--link);
}

.review-text {
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 180%;
}

@media screen and (max-width:768px) {

    .reviews ul {
        flex-direction: column;
        gap: 16px;
    }

    .reviews li {
        padding: 24px;
    }

    .reviews h3 {
        padding-bottom: 16px;
    }

    .review-date {
        font-size: 9px;
        padding-bottom: 16px;
    }

    .review-text {
        font-size: 10px;
        line-height: 160%;
    }
}


//service

.service-cards {
    padding-top: 48px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 32px
}

.service-card {
    flex: 1;
    //    width: 320px;
}

.service-card img {
    padding-bottom: 16px;
}

.service-card h3 {
    color: var(--main);
    font-size: 18px;
    letter-spacing: 0.2em;
    line-height: 140%;
    padding-bottom: 16px;
}

.service-card-text {
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 180%;
}

.service-info {
    text-align: center;
    padding-top: 64px;
    align-items: center;
}

.service-info p {
    font-size: 10px;
    letter-spacing: 0.1em;
    padding: 8px;
    border: solid 1px var(--main);
    width: 640px;
    margin: 0 auto;
    border-radius: 16px;
}

.service-info p a {
    font-weight: bold;
}

@media screen and (max-width:768px) {

    .service-cards {
        padding-top: 48px;
        flex-direction: column;
        gap: 48px;
    }
    
    .service-card img {
        padding-bottom: 8px;
        width: 72px;
        height: 72px;
    }

    .service-card h3 {
        font-size: 18px;
        line-height: 140%;
        padding-bottom: 8px;
    }

    .service-card-text {
        font-size: 11px;
        line-height: 160%;
    }

    .service-info p {
        font-size: 10px;
        letter-spacing: 0.1em;
        padding: 16px 32px;
        width: 90%;
        border-radius: 40px;
    }

}


//FAQ

.faqs {
    margin-top: 48px;
    align-items: center;

}

.accordion {
    margin: 3em auto;
    max-width: 60vw;
}

.toggle {
    display: none;
}

.option {
    position: relative;
    margin-bottom: 1em;
}

.title,
.content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
}

.title {
    //border: solid 1px #ccc;
    background: var(--main);
    padding: 1em;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.title::after,
.title::before {
    content: "";
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    width: 2px;
    height: 0.75em;
    background-color: var(--yellow);
    transition: all 0.1s;
}

.title::after {
    transform: rotate(90deg);
}

.content {
    display: flex;
    flex-direction: row;
    background: var(--baseusui);
    max-height: 0;
    overflow: hidden;
}

.answer {
    display: block;
    padding: 0.5em;
    font-weight: bold;
    color: var(--main);
}

.content p {
    margin: 0;
    padding: 0.5em 1em 1em;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.1em;
}

.content span {
    font-size: 14px;
    font-weight: bold;
    color: var(--main);
    letter-spacing: 0.2em;
}

.toggle:checked+.title+.content {
    max-height: 500px;
    transition: all 1.5s;
}

.toggle:checked+.title::before {
    transform: rotate(90deg) !important;
}

@media screen and (max-width:768px) {

    .accordion {
        margin: 24px 0;
        max-width: 90vw;
    }

    .title {
        padding: 1em;
        display: block;
        font-size: 12px;
        letter-spacing: 0.1em;
    }

    .answer {
        padding: 0.2em;
    }
    
    .content span {
        font-size: 12px;
    }
}

.sub___img___footer {
    height: 200px;
    width: 100vw;
}

.sub_splash {
    width: 340px;
    display: block;
    object-fit: cover;
    transform: rotate(10deg);
    opacity: 0.8;
}

@media screen and (max-width:768px) {
    .sub___img___footer {
        height: 80px;
        width: 100vw;
    }

    .sub_splash {
        width: 140px;
        display: block;
        object-fit: cover;
        transform: rotate(10deg);
        opacity: 0.8;
    }
}