$breakpoints: (
  md: 768px,
  lg: 992px,
);

:root {
    --black: #3E4748;
    --main: #005864;
    --yellow: #FFF500;
    --link: #46A4B1;
    --basedark: #D6EDF0;
    --baseusui: #F6FAFB;
    --font-noto-sans: "Noto Sans JP", sans-serif;
  }